.BeerContainer {
  user-select: none;
  -moz-user-select: none;
}

.Beer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10em;
  /* max-height: 10.5em; */
  margin: 1em;
  margin-bottom: 0em;
}

.pic-and-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* outline: 1px red dashed; */
}

.beer-pic {
    /* outline: 1px red dashed; */
  height: 6em;
  padding: 0em;
  /* margin: 0em 1em 0em 1em; */
  margin: 0em;
}

.beer-name-container {
  display: flex;
  align-items: center;
  min-height: 3em;
}

.beer-name {
  font-weight: 500;
  font-size: 0.9em;
  margin: 0em;
  text-align: center;
}
