.Rating {
  font-size: 1.2em;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
}

.rating-button {
  color: grey;
  text-align: center;
}

.rating-number {
  text-align: center;
}

.rating-invisible {
  visibility: hidden;
  pointer-events: none;
  margin: 0em;
}
