.Rating {
  font-size: 1.2em;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
}

.rating-button {
  color: rgb(128, 128, 128);
  text-align: center;
  transition: 0.2s ease-out;
}

.rating-button:hover {
  color: rgb(170, 170, 170);
  transition: 0.2s ease-out;
}

.rating-button:active {
  color: #333;
  transition: 0.04s ease-out;
}

.rating-number {
  text-align: center;
}

.rating-invisible {
  visibility: hidden;
  pointer-events: none;
  margin: 0em;
}
