.star {
  font-size: 1.5em;
  display: flex;
  position: relative;
  bottom: 1.2em;
  flex-direction: column;
  align-content: flex-start;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  /* csslint ignore:start */
  /* text-stroke: 0.5px black; */
  /* csslint ignore:end */
  -webkit-text-stroke: 0.5px black;

  text-shadow: 0px 0px 0px;
  transition: 0.15s ease-out;
}

.star:hover {
  /* text-stroke: 0.6px black; */
  -webkit-text-stroke: 0.7px black;
  text-shadow: 0px 0px 0.1px #fff;
  transition: 0.15s ease-out;
}

.empty {
  color: transparent;
}

.full {
  color: gold;
}
