body {
  margin: 0;
  /* background-color: grey; */
  background-image: var(--grey-background-image);
  /* background-image: url(https://www.toptal.com/designers/subtlepatterns/random-grey-variations/); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark-background-image: url(./utils/black_paper.png);
  --grey-background-image: url(./utils/brushed_alu_dark.png);
  --light-background-image: url(./utils/exclusive_paper.png);
  --header-color: #333;
}
